<footer class="pv2 ph3 ph5-ns tc">
  <div class="pa2">
    <span class="f6 white dib mr3 mr4-ns">{{ .Site.Copyright | safeHTML }}</span>
    <a href="/reusing-content" class="f6 link white dib mr3 mr4-ns">Reusing content</a>
    <a href="mailto:swj@incidentalnotes.com" class="f6 link white dib mr3 mr4-ns">Feedback or comments</a>
    <a href="/credits" class="f6 link white dib mr3 mr4-ns">Credits</a>
    <a href="/"><img width="30" height="30" alt="" src="/img/tree-fig.svg"></a>
  </div>
</footer>
</body>
</html>

