<article class="cf mw8 mw8-ns mw7-m mw7-l black-10 bb center">

<!--	
<div class="w-100 tc pv3 ph2">
		<form method="get" action="https://duckduckgo.com/">
			<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="www.incidentalnotes.com" />
			<input type="hidden" name="k7" value="#faf8f8" />
			<input type="hidden" name="kl" value="#faf8f8" />
			<input type="hidden" name="kj" value="b" />
			<input type="hidden" name="ky" value="#fafafa" />
			<input type="hidden" name="kx" value="b" />
			<input type="hidden" name="ko" value="-1" />
			<input type="hidden" name="k1" value="-1" />
			<input type="submit" value="Go" style="visibility: visible;" />
		</form>
	</div>
-->
</article>
