{{ partial "header.html" . }}
<section class="mw8 mw8-ns mw7-m mw7-l center pa3">

<h2>
Not found.
</h2>
	
<h3>
First of all thank you for visiting my site. I'm sorry that you have not been able to find what you are looking for.
</h3>
	
<p>
Although I don’t know exactly what link you followed or what address you put in your browser, you will probably find what you are looking for by clicking on the 'Archive' link above. You might also try looking at the <a href="/tags">tags page</a>.
</p>

<p>
I hope this helps and thanks for your understanding.
</p>

</section>
{{ partial "pre-footer.html" . }}
{{ partial "footer.html" . }}
